/* line 3, ../scss/fight.scss */
.fight-arena {
  padding: 60px 20px 0 20px;
}
/* line 6, ../scss/fight.scss */
.fight-arena .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
  font-size: 0;
  background: url("../img/subtle_carbon.png");
}
/* line 19, ../scss/fight.scss */
.fight-arena .my-robot,
.fight-arena .opponent-robot {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  display: table;
  font-size: 72px;
  text-align: center;
}
/* line 31, ../scss/fight.scss */
.fight-arena .my-robot .robotData,
.fight-arena .opponent-robot .robotData {
  display: table-cell;
  vertical-align: middle;
}
/* line 36, ../scss/fight.scss */
.fight-arena .my-robot img,
.fight-arena .opponent-robot img {
  height: 30%;
}
/* line 40, ../scss/fight.scss */
.fight-arena .my-robot h2,
.fight-arena .opponent-robot h2 {
  font-family: 'fightcode';
  font-size: 90px;
  color: #e9e9e9;
}
/* line 45, ../scss/fight.scss */
.fight-arena .my-robot h2 .name,
.fight-arena .opponent-robot h2 .name {
  color: #d92432;
}
/* line 52, ../scss/fight.scss */
.fight-arena .my-robot .victories,
.fight-arena .my-robot .defeats,
.fight-arena .my-robot .draws,
.fight-arena .opponent-robot .victories,
.fight-arena .opponent-robot .defeats,
.fight-arena .opponent-robot .draws {
  font-family: 'fightcode';
  font-size: 62px;
  line-height: 65px;
  color: #e9e9e9;
}
/* line 59, ../scss/fight.scss */
.fight-arena .my-robot .victories .number,
.fight-arena .opponent-robot .victories .number {
  color: #95ff7c;
}
/* line 62, ../scss/fight.scss */
.fight-arena .my-robot .defeats .number,
.fight-arena .opponent-robot .defeats .number {
  color: #d92432;
}
/* line 65, ../scss/fight.scss */
.fight-arena .my-robot .draws .number,
.fight-arena .opponent-robot .draws .number {
  color: #fff665;
}
/* line 70, ../scss/fight.scss */
.fight-arena .my-robot {
  left: 50px;
}
/* line 73, ../scss/fight.scss */
.fight-arena .my-robot h2 {
  margin-top: 40px;
}
/* line 77, ../scss/fight.scss */
.fight-arena .my-robot .victories {
  margin-top: 40px;
}
/* line 82, ../scss/fight.scss */
.fight-arena .opponent-robot {
  right: 50px;
}
/* line 85, ../scss/fight.scss */
.fight-arena .opponent-robot img {
  margin-top: 40px;
}
/* line 89, ../scss/fight.scss */
.fight-arena .opponent-robot .victories {
  margin-top: 40px;
}
/* line 94, ../scss/fight.scss */
.fight-arena .vs {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 180px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -50px;
  padding-top: 70px;
  font-size: 200px;
  font-family: 'fightcode';
  text-align: center;
  text-indent: -45px;
}
