@font-face {
  font-family: "fightcode";
  src: url('fonts/../../fonts/fightt3_-webfont.eot');
  src: url('fonts/../../fonts/fightt3_-webfont.eot?#iefix') format('eot'), url('fonts/../../fonts/fightt3_-webfont.woff') format('woff'), url('fonts/../../fonts/fightt3_-webfont.otf') format('opentype'), url('fonts/../../fonts/fightt3_-webfont.ttf') format('truetype');
}
