/* line 4, ../scss/footer.scss */
footer {
  background-color: #ed002d;
  font-size: 13px;
  padding: 50px 0;
}
/* line 9, ../scss/footer.scss */
footer .container {
  *zoom: 1;
}
/* line 38, ../../../../../../.rvm/gems/ruby-1.9.3-p327@fightcode/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer .container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, ../scss/footer.scss */
footer .footer-logo {
  width: 109px;
  height: 21px;
  background-image: url(../img/fight-code-small.png);
  margin: 0 auto 6px auto;
}
/* line 20, ../scss/footer.scss */
footer p {
  font-style: italic;
  text-align: center;
  margin-bottom: 16px;
}
/* line 26, ../scss/footer.scss */
footer, footer a {
  color: rgba(255, 255, 255, 0.6);
}
/* line 30, ../scss/footer.scss */
footer ul {
  width: 100%;
  border-top: 1px solid #ff002a;
  padding-top: 20px;
  box-shadow: inset 0 1px #d20023;
}
/* line 36, ../scss/footer.scss */
footer ul li {
  width: 16.66667%;
  float: left;
}
/* line 41, ../scss/footer.scss */
footer ul img {
  -webkit-transition: all 160ms ease-out;
  -moz-transition: all 160ms ease-out;
  -ms-transition: all 160ms ease-out;
  -o-transition: all 160ms ease-out;
  transition: all 160ms ease-out;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
/* line 49, ../scss/footer.scss */
footer ul a {
  -webkit-transition: color 160ms ease-in-out;
  -moz-transition: color 160ms ease-in-out;
  -ms-transition: color 160ms ease-in-out;
  -o-transition: color 160ms ease-in-out;
  transition: color 160ms ease-in-out;
  display: block;
}
/* line 53, ../scss/footer.scss */
footer ul a:hover {
  color: #fff;
}
/* line 56, ../scss/footer.scss */
footer ul a:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
/* line 63, ../scss/footer.scss */
footer ul span {
  float: left;
  line-height: 1.2;
  padding: 6px 0 0 10px;
}
