/* line 2, ../scss/home.scss */
.navbar .navbar-inner {
  padding-left: 20px;
}
/* line 5, ../scss/home.scss */
.navbar .nav > li > a.profile {
  padding: 3px;
}
/* line 8, ../scss/home.scss */
.navbar .brand {
  padding: 14px 20px 14px;
  font-family: 'fightcode';
  font-size: 32px;
}

/* line 15, ../scss/home.scss */
.home {
  padding: 60px 20px 0 20px;
}
/* line 18, ../scss/home.scss */
.home .board {
  width: 600px;
  height: 450px;
  margin: 15px auto 0;
}
/* line 24, ../scss/home.scss */
.home .row-fluid {
  width: 99%;
  margin: 0 20px;
  padding-top: 20px;
}
/* line 30, ../scss/home.scss */
.home pre {
  max-height: 400px;
  max-width: 582px;
  margin-left: 36px;
}
/* line 36, ../scss/home.scss */
.home .documentation {
  margin-top: 20px;
}
/* line 40, ../scss/home.scss */
.home .btn-create-robot {
  margin-top: 70px;
}

/* line 45, ../scss/home.scss */
code, pre {
  text-shadow: none !important;
  font-size: 16px;
}
