/* line 2, ../scss/home.scss */
.navbar .navbar-inner {
  padding-left: 20px;
}

/* line 7, ../scss/home.scss */
.home {
  padding: 60px 20px 0 20px;
}
/* line 10, ../scss/home.scss */
.home .board {
  margin: 0 0 20px -20px;
}
/* line 14, ../scss/home.scss */
.home .row-fluid {
  width: 99%;
  margin: 20px 20px 0;
}

/* line 20, ../scss/home.scss */
code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
}

/* line 24, ../scss/home.scss */
code, pre {
  font-size: 16px;
}
