/* line 100, menu/*.png */
.menu-sprite, .menu-container .fighter .icon, .menu-container .ranking .icon, .menu-container .robot .icon, .menu-container .logout .icon, .menu-container .ribbon, .menu-container .ribbon:hover, .menu-container .ribbon .logo, .menu-container .ribbon .tip {
  background: url('../img/menu-sc4c723bac9.png') no-repeat;
}

/* line 4, ../scss/menu.scss */
header {
  position: relative;
}

/* line 8, ../scss/menu.scss */
.context-bar {
  background: url(../img/bg-grill-light.png) repeat;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}
/* line 17, ../scss/menu.scss */
.context-bar .container {
  height: 55px;
}
/* line 21, ../scss/menu.scss */
.context-bar ul {
  float: left;
  margin: 22px 0 0 0;
}
/* line 25, ../scss/menu.scss */
.context-bar ul li {
  display: inline-block;
  vertical-align: top;
}
/* line 29, ../scss/menu.scss */
.context-bar ul li a {
  padding: 0 9px;
  border-right: solid 1px #9a9a9a;
}
/* line 36, ../scss/menu.scss */
.context-bar ul li:first-child a {
  padding-left: 0;
}
/* line 42, ../scss/menu.scss */
.context-bar ul li:last-child a {
  border-right: none;
}
/* line 48, ../scss/menu.scss */
.context-bar .profile-container {
  float: right;
}
/* line 51, ../scss/menu.scss */
.context-bar .profile-container .profile {
  padding: 22px 0 7px;
  display: block;
}
/* line 55, ../scss/menu.scss */
.context-bar .profile-container .profile img {
  border-radius: 30px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
/* line 62, ../scss/menu.scss */
.context-bar .profile-container .profile .name {
  margin-top: -24px;
  display: block;
  margin-left: 38px;
}
/* line 69, ../scss/menu.scss */
.context-bar .profile-container .profile-logged {
  padding-top: 15px;
}
/* line 74, ../scss/menu.scss */
.context-bar a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  text-shadow: 0 1px 0 black;
}
/* line 81, ../scss/menu.scss */
.context-bar a:hover {
  color: #FF3D3D;
}

/* line 94, ../scss/menu.scss */
.menu-container {
  -webkit-transition: top 300ms;
  -moz-transition: top 300ms;
  -ms-transition: top 300ms;
  -o-transition: top 300ms;
  transition: top 300ms;
  font-weight: bold;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: -180px;
}
/* line 102, ../scss/menu.scss */
.menu-container.open {
  top: 0;
}
/* line 106, ../scss/menu.scss */
.menu-container .menu {
  -webkit-box-shadow: inset 0 3px 8px -5px black;
  -moz-box-shadow: inset 0 3px 8px -5px black;
  box-shadow: inset 0 3px 8px -5px black;
  background: #f5f5f5;
  padding: 36px 5%;
  text-align: center;
  position: relative;
}
/* line 113, ../scss/menu.scss */
.menu-container .menu > span {
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  width: 100px;
}
/* line 119, ../scss/menu.scss */
.menu-container .menu > span:first-child {
  margin-left: 0;
}
/* line 124, ../scss/menu.scss */
.menu-container .menu a {
  display: block;
  color: #999;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
/* line 129, ../scss/menu.scss */
.menu-container .menu a:hover {
  color: #555;
  text-decoration: none;
}
/* line 133, ../scss/menu.scss */
.menu-container .menu a:hover .icon {
  background-color: #999;
}
/* line 138, ../scss/menu.scss */
.menu-container .menu a:active, .menu-container .menu a.checked {
  color: #ed0027;
}
/* line 141, ../scss/menu.scss */
.menu-container .menu a:active .icon, .menu-container .menu a.checked .icon {
  background-color: #ed0027;
}
/* line 147, ../scss/menu.scss */
.menu-container .menu .icon {
  display: block;
  margin: 0 auto 5px auto;
  background-color: #c7c7c7;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}
/* line 88, ../scss/menu.scss */
.menu-container .fighter .icon {
  background-position: 0 -295px;
  height: 75px;
  width: 78px;
}
/* line 88, ../scss/menu.scss */
.menu-container .ranking .icon {
  background-position: 0 -445px;
  height: 75px;
  width: 73px;
}
/* line 88, ../scss/menu.scss */
.menu-container .robot .icon {
  background-position: 0 -370px;
  height: 75px;
  width: 97px;
}
/* line 164, ../scss/menu.scss */
.menu-container .logout {
  position: absolute;
  top: 36px;
  right: 5%;
}
/* line 88, ../scss/menu.scss */
.menu-container .logout .icon {
  background-position: 0 -220px;
  height: 75px;
  width: 75px;
}
/* line 171, ../scss/menu.scss */
.menu-container .ribbon-container {
  border-top: 5px solid #ed0027;
  height: 0;
  -webkit-box-shadow: 0 0 6px -1px black;
  -moz-box-shadow: 0 0 6px -1px black;
  box-shadow: 0 0 6px -1px black;
}
/* line 176, ../scss/menu.scss */
.menu-container .ribbon-container:hover {
  border-color: #ff3d3d;
}
/* line 180, ../scss/menu.scss */
.menu-container .ribbon {
  background-position: 0 -95px;
  height: 95px;
  width: 218px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
/* line 44, ../../../../../.rvm/gems/ruby-1.9.3-p286@fightcode/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.menu-container .ribbon:active, .menu-container .ribbon.ribbon_background-active {
  background-position: 0 0;
}
/* line 187, ../scss/menu.scss */
.menu-container .ribbon:hover {
  background-position: 0 0;
}
/* line 191, ../scss/menu.scss */
.menu-container .ribbon .logo {
  display: block;
  margin: 15px auto 0;
  text-indent: -99999px;
  background-position: 0 -190px;
  height: 30px;
  width: 157px;
}
/* line 199, ../scss/menu.scss */
.menu-container .ribbon .tip {
  display: block;
  margin: 20px auto 0;
  background-position: 0 -520px;
  height: 16px;
  width: 27px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}
/* line 209, ../scss/menu.scss */
.menu-container .ribbon:hover .tip {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
