/* line 3, ../scss/user.scss */
.show-user {
  width: 100%;
  background: #f3f3f3;
}
/* line 7, ../scss/user.scss */
.show-user .user-info {
  height: 145px;
  position: relative;
}
/* line 11, ../scss/user.scss */
.show-user .user-info img {
  position: absolute;
  top: 24px;
  left: 0;
  width: 152px;
  height: 152px;
  border-radius: 152px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
/* line 21, ../scss/user.scss */
.show-user .user-info .info {
  margin-left: 175px;
  padding-top: 63px;
  float: left;
}
/* line 26, ../scss/user.scss */
.show-user .user-info .info h2 {
  font-weight: bold;
  font-size: 25px;
  color: #4f4f4f;
  margin-bottom: 10px;
}
/* line 33, ../scss/user.scss */
.show-user .user-info .info p {
  display: inline-block;
  font-size: 16px;
  color: #4f4f4f;
}
/* line 38, ../scss/user.scss */
.show-user .user-info .info p:before {
  display: inline-block;
  content: '';
  background: url("../img/marker.png") 0 0 no-repeat;
  width: 13px;
  height: 15px;
  margin-right: 7px;
  margin-bottom: -2px;
}
/* line 50, ../scss/user.scss */
.show-user .user-info .actions {
  float: right;
  margin-top: 65px;
}
/* line 56, ../scss/user.scss */
.show-user .robots-area {
  background: url("../img/pattern.png");
}
/* line 59, ../scss/user.scss */
.show-user .robots-area .header {
  padding-top: 56px;
  overflow: hidden;
}
/* line 63, ../scss/user.scss */
.show-user .robots-area .header .title {
  font-size: 0;
}
/* line 66, ../scss/user.scss */
.show-user .robots-area .header .title .marker {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  width: 380px;
  height: 4px;
  background-color: #fdfdfd;
  opacity: 0.1;
}
/* line 76, ../scss/user.scss */
.show-user .robots-area .header .title h1 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
  padding: 0 17px 0 13px;
  font-family: "oswald-bold";
  font-size: 32px;
  line-height: 15px;
  color: #ed0027;
  text-shadow: #111111 -1px 1px 0, #5d000f -3px 3px 0;
}
/* line 91, ../scss/user.scss */
.show-user .robots-area .header .performance {
  margin-bottom: 46px;
  font-family: "oswald";
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #ddd;
}
/* line 104, ../scss/user.scss */
.show-user .robots-area .robots li {
  font-size: 0;
  padding-bottom: 50px;
}
/* line 108, ../scss/user.scss */
.show-user .robots-area .robots li .left {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 230px;
  background-color: #dfdfdf;
}
/* line 116, ../scss/user.scss */
.show-user .robots-area .robots li .left .ranking {
  position: absolute;
  top: 20px;
  left: -4px;
  background: url("../img/ranking-bg.png") 0 0 no-repeat;
  width: 121px;
  height: 42px;
  padding-top: 12px;
  padding-left: 42px;
  font-family: "oswald";
  font-size: 18px;
  color: #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 133, ../scss/user.scss */
.show-user .robots-area .robots li .left .robot {
  background: url("../img/my-robot.png") 0 0 no-repeat;
  background-color: #00a0dc;
  width: 219px;
  height: 230px;
}
/* line 141, ../scss/user.scss */
.show-user .robots-area .robots li .right {
  vertical-align: top;
  display: inline-block;
  width: 720px;
  height: 230px;
  background-color: #f7f7f7;
}
/* line 148, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info {
  margin-left: 26px;
}
/* line 151, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary {
  margin-top: 24px;
}
/* line 154, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .name {
  font-family: "oswald-bold";
  font-size: 32px;
  color: #4f4f4f;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: #f7f7f7 -1px 1px 0, #999999 -2px 2px 0;
}
/* line 164, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .data {
  font-family: arial;
  font-size: 12px;
  color: #999;
}
/* line 169, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .data .created {
  padding-right: 12px;
}
/* line 173, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .data .lines {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEUlEQVQIW2PctGnTf0YGIAAAFsMDGOHG7Z0AAAAASUVORK5CYII=) 0 0 repeat-y;
  padding-left: 12px;
}
/* line 181, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats {
  font-size: 0;
}
/* line 184, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  margin-top: 44px;
}
/* line 192, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit {
  font-family: "oswald";
  font-size: 0;
  color: #ed003d;
}
/* line 197, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .icon,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .icon,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
/* line 203, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .text,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .text,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .text {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
}
/* line 210, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .label,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .label,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .label {
  color: #4f4f4f;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}
/* line 219, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .icon {
  background: url("../img/robot-icons-sprite.png") 0 0 no-repeat;
  width: 33px;
  height: 13px;
}
/* line 226, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-fired {
  margin-top: 9px;
}
/* line 229, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .icon {
  background: url("../img/robot-icons-sprite.png") 0 -24px no-repeat;
  width: 33px;
  height: 22px;
}
/* line 235, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .text, .show-user .robots-area .robots li .right .stats .numbers .shots-fired .label {
  padding-top: 6px;
}
/* line 240, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-hit {
  margin-top: 9px;
}
/* line 243, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .icon {
  background: url("../img/robot-icons-sprite.png") 0 -55px no-repeat;
  width: 33px;
  height: 20px;
}
/* line 249, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .text, .show-user .robots-area .robots li .right .stats .numbers .shots-hit .label {
  padding-top: 3px;
}
/* line 255, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .chart {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-left: 76px;
}
/* line 262, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .average {
  display: inline-block;
  vertical-align: top;
  margin-top: 62px;
  margin-left: 14px;
  padding-right: 14px;
  border-right: solid 1px #fff;
  font-family: "oswald";
}
/* line 272, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .average .number {
  margin-bottom: 10px;
  font-size: 42px;
  color: #ed003d;
}
/* line 278, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .average .label {
  font-size: 15px;
  color: #4f4f4f;
}
/* line 284, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .overtime {
  display: inline-block;
  vertical-align: top;
  padding-left: 14px;
  height: 152px;
  border-left: solid 1px #ebebeb;
}
/* line 291, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .overtime .label {
  margin-top: 10px;
  font-family: "oswald";
  font-size: 15px;
  color: #4f4f4f;
}
/* line 304, ../scss/user.scss */
.show-user .robots-area .adsense-container .container {
  background-color: #1c1c1c;
  padding: 10px 0;
}
/* line 308, ../scss/user.scss */
.show-user .robots-area .adsense-container .container .ad-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #0e0e0e;
  width: 745px;
  height: 92px;
  margin: 0 auto;
}
/* line 316, ../scss/user.scss */
.show-user .robots-area .adsense-container .container .ad-body .ad-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background: url("../img/ad.png") 0 0 no-repeat;
  left: 0;
  top: 0;
  width: 17px;
  height: 90px;
  background-color: #202020;
  border-right: solid 1px #0e0e0e;
}
/* line 330, ../scss/user.scss */
.show-user .robots-area .adsense-container .container .ad-body .google-ad {
  width: 728px;
  height: 90px;
  padding-left: 17px;
}
