/* line 3, ../scss/user.scss */
.show-user {
  width: 100%;
  background: #f3f3f3;
}
/* line 7, ../scss/user.scss */
.show-user .user-info {
  height: 145px;
  position: relative;
}
/* line 11, ../scss/user.scss */
.show-user .user-info img {
  position: absolute;
  top: 24px;
  left: 0;
  width: 152px;
  height: 152px;
  border-radius: 152px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
/* line 21, ../scss/user.scss */
.show-user .user-info .info {
  margin-left: 175px;
  padding-top: 63px;
  float: left;
}
/* line 26, ../scss/user.scss */
.show-user .user-info .info h2 {
  font-weight: bold;
  font-size: 25px;
  color: #4f4f4f;
  margin-bottom: 10px;
}
/* line 33, ../scss/user.scss */
.show-user .user-info .info p {
  display: inline-block;
  font-size: 16px;
  color: #4f4f4f;
}
/* line 38, ../scss/user.scss */
.show-user .user-info .info p:before {
  display: inline-block;
  content: '';
  background: url("../img/marker.png") 0 0 no-repeat;
  width: 13px;
  height: 15px;
  margin-right: 7px;
  margin-bottom: -2px;
}
/* line 50, ../scss/user.scss */
.show-user .user-info .actions {
  float: right;
  margin-top: 65px;
}
/* line 56, ../scss/user.scss */
.show-user .robots-area {
  background: url("../img/pattern.png");
  overflow: hidden;
}
/* line 60, ../scss/user.scss */
.show-user .robots-area .header {
  padding-top: 56px;
  overflow: hidden;
}
/* line 64, ../scss/user.scss */
.show-user .robots-area .header .title {
  font-size: 0;
}
/* line 67, ../scss/user.scss */
.show-user .robots-area .header .title .marker {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  width: 380px;
  height: 4px;
  background-color: #fdfdfd;
  opacity: 0.1;
}
/* line 77, ../scss/user.scss */
.show-user .robots-area .header .title h1 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
  padding: 0 17px 0 13px;
  font-family: "oswald-bold";
  font-size: 32px;
  line-height: 15px;
  color: #ed0027;
  text-shadow: #111111 -1px 1px 0, #5d000f -3px 3px 0;
}
/* line 92, ../scss/user.scss */
.show-user .robots-area .header .performance {
  margin-bottom: 46px;
  font-family: "oswald";
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #ddd;
}
/* line 105, ../scss/user.scss */
.show-user .robots-area .robots li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  font-size: 0;
}
/* line 111, ../scss/user.scss */
.show-user .robots-area .robots li .left {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 230px;
  background-color: #dfdfdf;
}
/* line 119, ../scss/user.scss */
.show-user .robots-area .robots li .left .ranking {
  position: absolute;
  top: 20px;
  left: -4px;
  background: url("../img/ranking-bg.png") 0 0 no-repeat;
  width: 121px;
  height: 42px;
  padding-top: 12px;
  padding-left: 42px;
  font-family: "oswald";
  font-size: 18px;
  color: #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 136, ../scss/user.scss */
.show-user .robots-area .robots li .left .robot {
  background: url("../img/my-robot.png") 0 0 no-repeat;
  background-color: #00a0dc;
  width: 219px;
  height: 230px;
}
/* line 144, ../scss/user.scss */
.show-user .robots-area .robots li .right {
  vertical-align: top;
  display: inline-block;
  width: 720px;
  height: 230px;
  background-color: #f7f7f7;
}
/* line 151, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info {
  margin-left: 26px;
}
/* line 154, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary {
  margin-top: 24px;
}
/* line 157, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .name {
  font-family: "oswald-bold";
  font-size: 32px;
  color: #4f4f4f;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: #f7f7f7 -1px 1px 0, #999999 -2px 2px 0;
}
/* line 167, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .data {
  font-family: arial;
  font-size: 12px;
  color: #999;
}
/* line 172, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .data .created {
  padding-right: 12px;
}
/* line 176, ../scss/user.scss */
.show-user .robots-area .robots li .right .main-info .summary .data .lines {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEUlEQVQIW2PctGnTf0YGIAAAFsMDGOHG7Z0AAAAASUVORK5CYII=) 0 0 repeat-y;
  padding-left: 12px;
}
/* line 184, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats {
  font-size: 0;
}
/* line 187, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  margin-top: 44px;
}
/* line 195, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit {
  font-family: "oswald";
  font-size: 0;
  color: #ed003d;
}
/* line 200, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .icon,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .icon,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}
/* line 206, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .text,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .text,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .text {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
}
/* line 213, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .label,
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .label,
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .label {
  color: #4f4f4f;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}
/* line 222, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .kills .icon {
  background: url("../img/robot-icons-sprite.png") 0 0 no-repeat;
  width: 33px;
  height: 13px;
}
/* line 229, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-fired {
  margin-top: 9px;
}
/* line 232, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .icon {
  background: url("../img/robot-icons-sprite.png") 0 -24px no-repeat;
  width: 33px;
  height: 22px;
}
/* line 238, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-fired .text, .show-user .robots-area .robots li .right .stats .numbers .shots-fired .label {
  padding-top: 6px;
}
/* line 243, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-hit {
  margin-top: 9px;
}
/* line 246, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .icon {
  background: url("../img/robot-icons-sprite.png") 0 -55px no-repeat;
  width: 33px;
  height: 20px;
}
/* line 252, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .numbers .shots-hit .text, .show-user .robots-area .robots li .right .stats .numbers .shots-hit .label {
  padding-top: 3px;
}
/* line 258, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .chart {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-left: 76px;
}
/* line 265, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .average {
  display: inline-block;
  vertical-align: top;
  margin-top: 62px;
  margin-left: 14px;
  padding-right: 14px;
  border-right: solid 1px #fff;
  font-family: "oswald";
}
/* line 275, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .average .number {
  margin-bottom: 10px;
  font-size: 42px;
  color: #ed003d;
}
/* line 281, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .average .label {
  font-size: 15px;
  color: #4f4f4f;
}
/* line 287, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .overtime {
  display: inline-block;
  vertical-align: top;
  padding-left: 14px;
  height: 152px;
  border-left: solid 1px #ebebeb;
}
/* line 294, ../scss/user.scss */
.show-user .robots-area .robots li .right .stats .overtime .label {
  margin-top: 10px;
  font-family: "oswald";
  font-size: 15px;
  color: #4f4f4f;
}
/* line 306, ../scss/user.scss */
.show-user .robots-area .adsense-container {
  margin-bottom: 40px;
}
/* line 309, ../scss/user.scss */
.show-user .robots-area .adsense-container .container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1c1c1c;
  padding: 10px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 315, ../scss/user.scss */
.show-user .robots-area .adsense-container .container .ad-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #0e0e0e;
  width: 745px;
  height: 92px;
  margin: 0 auto;
}
/* line 323, ../scss/user.scss */
.show-user .robots-area .adsense-container .container .ad-body .ad-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background: url("../img/ad.png") 0 0 no-repeat;
  left: 0;
  top: 0;
  width: 17px;
  height: 90px;
  background-color: #202020;
  border-right: solid 1px #0e0e0e;
}
/* line 337, ../scss/user.scss */
.show-user .robots-area .adsense-container .container .ad-body .google-ad {
  width: 728px;
  height: 90px;
  padding-left: 17px;
}
/* line 346, ../scss/user.scss */
.show-user .robots-area .add-robot {
  font-size: 0;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 0 7px black;
  -moz-box-shadow: 0 0 7px black;
  box-shadow: 0 0 7px black;
}
/* line 351, ../scss/user.scss */
.show-user .robots-area .add-robot .left {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 210px;
  background-color: #333;
  background: url("../img/my-dark-robot.png") 0 0 no-repeat;
}
/* line 361, ../scss/user.scss */
.show-user .robots-area .add-robot .right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 720px;
  height: 210px;
  background-color: #222;
  text-align: center;
  padding-top: 82px;
}
/* line 374, ../scss/user.scss */
.show-user .latest-combats {
  background-color: #f3f3f3;
}
/* line 377, ../scss/user.scss */
.show-user .latest-combats .header {
  padding-top: 56px;
  overflow: hidden;
}
/* line 381, ../scss/user.scss */
.show-user .latest-combats .header .title {
  font-size: 0;
}
/* line 384, ../scss/user.scss */
.show-user .latest-combats .header .title .marker {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  width: 345px;
  height: 4px;
  background-color: #dfdfdf;
}
/* line 393, ../scss/user.scss */
.show-user .latest-combats .header .title h1 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 18px;
  padding: 0 17px 0 13px;
  font-family: "oswald-bold";
  font-size: 32px;
  line-height: 15px;
  color: #ed0027;
  text-shadow: #f4f4f4 -1px 1px 0, #5d000f -3px 3px 0;
}
/* line 408, ../scss/user.scss */
.show-user .latest-combats .header .performance {
  margin-bottom: 46px;
  font-family: "oswald";
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #999;
}
/* line 419, ../scss/user.scss */
.show-user .latest-combats .combats {
  font-size: 0;
  padding-bottom: 105px;
}
/* line 423, ../scss/user.scss */
.show-user .latest-combats .combats li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 68px;
}
/* line 429, ../scss/user.scss */
.show-user .latest-combats .combats li:first-child {
  margin-left: 0;
}
/* line 433, ../scss/user.scss */
.show-user .latest-combats .combats li .left, .show-user .latest-combats .combats li .right {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 439, ../scss/user.scss */
.show-user .latest-combats .combats li .divider {
  position: absolute;
  width: 40px;
  height: 120px;
  top: 0;
  left: 116px;
  background: url("../img/triangle.png") 0 0 no-repeat;
  z-index: 9999;
}
/* line 449, ../scss/user.scss */
.show-user .latest-combats .combats li .combat {
  margin: 0 auto;
  width: 268px;
}
/* line 453, ../scss/user.scss */
.show-user .latest-combats .combats li .combat .player {
  width: 134px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
/* line 459, ../scss/user.scss */
.show-user .latest-combats .combats li .combat .player img {
  margin-top: -7px;
}
/* line 463, ../scss/user.scss */
.show-user .latest-combats .combats li .combat .player .robot-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -26px;
  width: 52px;
  height: 27px;
  background: url("../img/semi-circle.png") 0 0 no-repeat;
}
/* line 474, ../scss/user.scss */
.show-user .latest-combats .combats li .combat .robot {
  background: url("../img/latest-combats-robot.png") 0 0 no-repeat;
  width: 38px;
  height: 28px;
  position: absolute;
  top: 104px;
  left: 50%;
  margin-left: -19px;
}
/* line 485, ../scss/user.scss */
.show-user .latest-combats .combats li .info {
  margin-top: 25px;
  text-align: center;
  font-family: "oswald";
  font-size: 14px;
  color: #4f4f4f;
}
/* line 492, ../scss/user.scss */
.show-user .latest-combats .combats li .info .ranking {
  margin-top: 5px;
}
