.simplemodal-overlay {
  background:#fff;
}

.simplemodal-container a.modalCloseImg {
  background:url(/img/close-modal.png) no-repeat;
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}

.simplemodal-wrap {
  @include box-shadow(#000 0 0 5px 1px);
}