.header {
    padding-top: 65px;
    position:relative;

    .prize {
        position: absolute;
        display: block;
    }

    .title {
        font-size: 0;

        .marker {
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;
            width: 380px;
            height: 4px;
            background-color: #fdfdfd;
            opacity: 0.1;
        }

        h1 {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 16px;
            padding: 0 32px 0 30px;
            font-family: "oswald-bold";
            font-size: 32px;
            line-height: 15px;
            color: #ed0027;
            text-shadow: #111 -1px 1px 0, #5D000F -3px 3px 0;
            text-transform: uppercase;
        }
    }

    .performance {
        margin-bottom: 42px;
        font-family: "oswald";
        font-size: 18px;
        line-height: 15px;
        text-align: center;
        color: #ddd;
    }
}
