.home {
    padding: 20px 20px 0 20px;

    .board {
        width: 600px;
        height: 450px;
        margin: 15px auto 0;
    }

    .row-fluid {
        width: 99%;
        margin: 0 20px;
        padding-top: 20px;
    }

    pre {
        max-height: 400px;
        max-width: 582px;
        margin-left: 36px;
    }

    .documentation {
        margin-top: 20px;
    }

    .btn-create-robot {
        margin-top: 70px;
    }

    .header {
        margin-bottom: 30px;
    }

    .score {
        font-size: 0;
        margin-bottom: 30px;

        .playerScore {
            display: block;
            margin: 0 55px;
            height: 110px;
            background-color: #dfdfdf;
            opacity: 0.8;

            &:hover {
                opacity: 0.99;
            }
        }

        .left, .right {
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 50%;
        }

        .player {
            position: absolute;
            top: 0;
            width: 110px;

            img {
                width: 110px;
                height: 110px;
                border-radius: 110px;
            }
        }

        .left {
            .player {
                left: 0;
                margin-left: -55px;
            }

            .robot .icon {
                margin-left: 55px;
            }

            .name {
                margin: 17px 0 13px 22px
            }

            .life {
                margin-left: 22px;
            }
        }

        .right {
            .player {
                right: 0;
                margin-right: -55px;
            }

            .robot .icon {
                margin-left: 13px;
            }

            .name {
                margin: 18px 0 11px 59px;
            }

            .life {
                margin-left: 60px;
            }

        }

        .robot {
            display: inline-block;
            vertical-align: top;
            width: 205px;
            height: 110px;

            .icon {
                background: url('../img/robot-sprite-arena.png') 0 0 no-repeat;
                background-color: #ff0000;
                width: 137px;
                height: 107px;
                margin-top: 3px;
            }
        }

        .stats {
            display: inline-block;
            vertical-align: top;
            width: 210px;
            height: 109px;
            margin-top: 1px;
            background-color: #f3f3f3;

            .name {
                width: 135px;
                min-height: 54px;
                font-family: "oswald-bold";
                font-size: 24px;
                line-height: 27px;
                color: #4f4f4f;
                @include text-shadow(#f7f7f7 -1px 1px 0, #999 -2px 2px 0);
                text-transform: uppercase;
            }

            .life {
                width: 116px;
                height: 9px;
                background: url('../img/life-rectangle.png') 0 0 no-repeat;
                position: relative;

                .filled {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 9px;
                    background-color: #ed0027;
                    @include transition(all 200ms ease-in);
                }
            }
        }
    }


}

code, pre {
    text-shadow: none !important;
    font-size: 16px;
}
