.home {
    padding: 20px 20px 0 20px;

    p {
        font-size: 16px;
        color: #ddd;
        font-family: arial;
        line-height: 22px;
        margin-bottom: 12px;

        a {
            opacity: 0.8;
            color: #ddd;
            text-decoration: underline;

            &:hover {
                opacity: 0.99;
                text-decoration: none;
            }
        }
    }

    .actions {
        margin-top: 40px;
        text-align: center;
    }

    .board {
        width: 600px;
        height: 450px;
        margin: 15px auto 0;
    }

    .row-fluid {
        width: 99%;
        margin: 0 20px;
        padding-top: 20px;
    }

    pre {
        max-height: 400px;
        max-width: 582px;
        margin-left: 36px;
    }

    .documentation {
        margin-top: 20px;
    }

    .header {
        margin-bottom: 30px;
    }

    .score {
        font-size: 0;
        margin-bottom: 50px;

        .playerScore {
            margin: 0 55px;
            height: 110px;
            position: relative;

            img, .life {
                @include transition(all 300ms linear);
                -webkit-filter: grayscale(1);
                -moz-filter: grayscale(1);
                filter: grayscale(1);
            }

            &:hover {
                img, .life {
                    -webkit-filter: grayscale(0);
                    -moz-filter: grayscale(0);
                    filter: grayscale(0);
                }
            }
        }

        .divider {
            display:inline-block;
            width: 82px;
            height: 108px;
            background: url('../img/triangle-fight.png') 0 0 no-repeat;
        }

        .left, .right {
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 374px;
            background-color:#DFDFDF;
        }

        .player {
            position: absolute;
            top: 0;
            width: 108px;

            a {
                display: block;

                &:hover {
                    img {
                        @include transform(scale(0.95));
                    }
                }
            }

            img {
                width: 110px;
                height: 110px;
                border-radius: 110px;

                @include transform-origin(50%, 30px);
                @include transition(transform 200ms ease-in);
            }
        }

        .left {
            .player {
                left: 0;
                margin-left: -55px;
            }

            .robot .icon {
                margin-left: 55px;
            }

            .name {
                margin: 17px 0 13px 22px
            }

            .life {
                margin-left: 22px;
            }
        }

        .right {
            .player {
                right: 0;
                margin-right: -55px;
            }

            .robot .icon {
                margin-left: 13px;
            }

            .name {
                margin: 18px 0 11px 11px;
            }

            .life {
                margin-left: 11px;
            }

        }

        .robot {
            display: inline-block;
            vertical-align: top;
            width: 205px;
            height: 108px;

            .icon {
                background: url('../img/robot-sprite-arena.png') 0 0 no-repeat;
                background-color: #ff0000;
                width: 137px;
                height: 107px;
            }
        }

        .stats {
            display: inline-block;
            vertical-align: top;
            width: 169px;
            height: 108px;
            background-color: #f3f3f3;

            .name {
                width: 135px;
                min-height: 54px;
                font-family: "oswald-bold";
                font-size: 24px;
                line-height: 27px;
                color: #4f4f4f;
                @include text-shadow(#f7f7f7 -1px 1px 0, #999 -2px 2px 0);
                text-transform: uppercase;
            }

            .life {
                width: 116px;
                height: 9px;
                background: url('../img/life-rectangle.png') 0 0 no-repeat;
                position: relative;

                .filled {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 9px;
                    background-color: #ed0027;
                    @include transition(all 200ms ease-in);
                }
            }
        }
    }

    .timeline {
        margin-top: -20px;
    }
}

code, pre {
    text-shadow: none !important;
    font-size: 16px;
}
