@import "compass/css3";
@import "helpers";
@import "ranking/*.png";


.break {
    background-color:#f3f3f3;
    height:100px;
}

.ranking-area {
    background: url('../img/pattern.png');

    .header-icon {
        @include ranking-sprite('prize', $dimensions: true);
        left: 438px;
        top: -33px;
    }

    .actions {
        display:none;
        position:absolute;
        width:189px;
        height:39px;
        right: 81px;
        top: 10px;

        a {
            display:inline-block;
            background-color:#ed0027;
            font-size:14px;
            font-weight:bold;
            color:#fff;
            text-shadow: 1px 1px #000;

            &.fight {
                padding:19px 20px 20px 31px;
                border-radius: 20px 0 0 20px;
            }

            &.fork {
                padding:19px 30px 20px 27px;
                border-radius: 0 20px 20px 0;
            }

            &:hover {
                background-color:#ff3d3d;
            }
        }
    }

    .separator {
        height:1px;
        background-color:#2f2f2f;
        border-bottom:1px solid #000;
        margin-top:41px;
        margin-bottom:41px;

        &:last-child {
            display:none;
        }
    }

    .rank {

        .line {
            @include opacity(.7);
            height:60px;
            font-size:0;
            line-height:0;
            white-space:nowrap;
            margin-bottom:5px;
            position:relative;

            .position,
            .robot-face,
            .robot-name {
                vertical-align:top;
                display:inline-block;
                font-size:20px;
                line-height:15px;
                font-family: "oswald";
            }

            .position {
                background-color:#ed0027;
                color:#fff;
                padding: 22px 0 23px 12px;
                width: 66px;
                overflow: hidden;
            }

            &.mine {
                .position {
                    @include ranking-sprite('own-robot-tip');
                    background-color:#525252;
                }
            }

            .robot-face {
                @include ranking-sprite('robot', $dimensions: true);
                background-color:red;
            }

            .robot-name {
                text-shadow: #f7f7f7 -1px 1px 0, #999 -2px 2px 0;
                border-radius: 0 28px 28px 0;
                background:#f7f7f7;
                font-family: "oswald-bold";
                font-size: 28px;
                color: #4f4f4f;
                text-transform: uppercase;
                padding:25px 0 20px 22px;
                width:700px;
            }

            .user-photo {
                img {
                    @include transition(all 200ms ease-out);
                    @include improve-transition;

                    border-radius: 50px;
                    position: absolute;
                    right: 1px;
                    top: 2px;
                    width: 57px;
                    height: 57px;
                }
            }

            &:hover {
                @include opacity(1);
                .actions {
                    display:block;
                }

                .user-photo {
                    img {
                        @include transform(scale(1.1));
                    }
                }
            }
        }
    }

    .top10 {
        background-color:#f3f3f3;
        margin-top:70px;

        .container {
            padding-bottom:100px;
        }

        .header {
            padding-top:63px;
            .marker {
                width:409px;
                background-color:#dfdfdf;
                @include opacity(1);
            }
            h1 {
                color:#ed0027;
                padding:0 19px 0 17px;
                text-shadow: #f3f3f3 -1px 1px 0, #5D000F -2px 2px 0;
            }
            .performance {
                color: #999;
            }
        }

        ul {
            @include box-shadow(#e5e5e5 0 0 1px 1px);
            border: 1px solid #dadada;
            font-size: 0;
            line-height: 0;
            white-space: nowrap;
            overflow: hidden;

            li {
                @include transition(width 500ms ease-out);
                font-size:0;
                line-height:0;
                display: inline-block;
                width:70px;

                &.open {
                    width:311px;
                }
            }
        }

        .sidebar,
        .info,
        .vertical-separator {
            display:inline-block;
            vertical-align:top;
        }

        .sidebar {
            border-right:1px solid #f7f7f7;
            width:69px;
            .robot {
                @include ranking-sprite('robot-small', $dimensions: true);
                background-color:red;
                display:block;
            }

            .user-photo {
                height:80px;
                width:69px;
                overflow:hidden;
                display:block;
            }

            .position {
                display:block;
                font-size:20px;
                font-family: "oswald";
                background-color:#ed0027;
                color:#fff;
                padding: 30px 0 30px 21px;
                width: 48px;
                overflow: hidden;
            }
        }
        .info {
            background-color:#f7f7f7;
            width:236px;
            height:217px;

            .robot-name {
                font-family: "oswald-bold";
                font-size: 23px;
                color: #4f4f4f;
                text-transform: uppercase;
                margin-bottom: 10px;
                text-shadow: #f7f7f7 -1px 1px 0, #999 -2px 2px 0;
                line-height: 26px;
                padding-left: 21px;
                width: 195px;
                padding-top: 13px;
                white-space: normal;
                height:52px;
                overflow:hidden;
            }

            .robot-data {
                padding-left: 17px;
                padding-top: 6px;
            }

            .line {
                display:block;
                span,
                p {
                    display:inline-block;
                    vertical-align:top;
                    font-size:15px;
                    font-family: "oswald";
                }

                p {
                    padding-top:8px;
                    padding-left:4px;
                    color:#4f4f4f;

                    &.value {
                        color:#ed003d;
                    }
                }

                &.kills {
                    .icon {
                        @include ranking-sprite('killed', $dimensions: true);
                    }
                }

                &.shots {
                    padding-top: 5px;
                    padding-left: 4px;

                    p {
                        padding-top: 15px;
                        padding-left: 3px;
                        &.value {
                            padding-left: 11px;
                        }
                    }
                    .icon {
                        @include ranking-sprite('explosion', $dimensions: true);
                    }
                }

                &.aim {
                    padding-left: 6px;
                    padding-top: 5px;

                    p {
                        padding-top:13px;

                        &.value {
                            padding-left: 11px;
                        }
                    }

                    .icon {
                        @include ranking-sprite('crosshair', $dimensions: true);
                    }
                }
            }

            .actions {
                display:block;
                margin-top: 19px;
                margin-left: 20px;
                width: 191px;
                position: static;
            }
        }

        .vertical-separator {
            @include box-shadow(#c8c8c8 -1px 0 1px 0);
            border-right:1px solid #f7f7f7;
            height: 217px;
            width: 4px;
            background-color: #ed0027;
        }
    }
}
