@import "compass/css3";

.show-user {
    width: 100%;
    background: #f3f3f3;

    .user-info {
        height: 145px;
        position: relative;

        img {
            position: absolute;
            top: 24px;
            left: 0;
            width: 152px;
            height: 152px;
            border-radius: 152px;
            box-shadow: 0 0 5px rgba(#000, .25);
        }

        .info {
            margin-left: 175px;
            padding-top: 63px;
            float: left;

            h2 {
                font-weight: bold;
                font-size: 25px;
                color: #4f4f4f;
                margin-bottom: 10px;
            }

            p {
                display: inline-block;
                font-size: 16px;
                color: #4f4f4f;

                &:before {
                    display: inline-block;
                    content: '';
                    background: url('../img/marker.png') 0 0 no-repeat;
                    width: 13px;
                    height: 15px;
                    margin-right: 7px;
                    margin-bottom: -2px;
                }
            }
        }

        .actions {
            float: right;
            margin-top: 65px;
        }
    }

    .robots-area {
        background: url('../img/pattern.png');
        overflow: hidden;

        .robots {
            li {
                @include box-sizing(border-box);
                margin-bottom: 40px;
                @include box-shadow(0 0 15px black);
                font-size: 0;

                .left {
                    vertical-align: top;
                    display: inline-block;
                    position: relative;
                    width: 220px;
                    height: 230px;
                    background-color: #dfdfdf;

                    .ranking {
                        position: absolute;
                        top: 20px;
                        left: -4px;
                        background: url('../img/ranking-bg.png') 0 0 no-repeat;
                        width: 121px;
                        height: 42px;
                        padding-top: 12px;
                        padding-left: 42px;

                        font-family: "oswald";
                        font-size: 18px;
                        color: #f3f3f3;

                        @include box-sizing(border-box);
                    }

                    .robot {
                        background: url('../img/my-robot.png') 0 0 no-repeat;
                        background-color: #00a0dc;
                        width: 219px;
                        height: 230px;
                    }
                }

                .right {
                    vertical-align: top;
                    display: inline-block;
                    width: 720px;
                    height: 230px;
                    background-color: #f7f7f7;

                    .main-info {
                        margin-left: 26px;

                        .summary {
                            margin-top: 24px;

                            .name {
                                font-family: "oswald-bold";
                                font-size: 32px;
                                color: #4f4f4f;
                                text-transform: uppercase;
                                margin-bottom: 10px;

                                @include text-shadow(#f7f7f7 -1px 1px 0, #999 -2px 2px 0);
                            }

                            .data {
                                font-family: arial;
                                font-size: 12px;
                                color: #999;

                                .created {
                                    padding-right: 12px;
                                }

                                .lines {
                                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEUlEQVQIW2PctGnTf0YGIAAAFsMDGOHG7Z0AAAAASUVORK5CYII=) 0 0 repeat-y;
                                    padding-left: 12px;
                                    padding-right: 12px;
                                }

                                .actions {
                                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEUlEQVQIW2PctGnTf0YGIAAAFsMDGOHG7Z0AAAAASUVORK5CYII=) 0 0 repeat-y;
                                    padding-left: 12px;

                                    a {
                                        text-decoration: none;
                                        font-family: arial;
                                        font-size: 12px;
                                        color: #999;
                                        padding-right:7px;

                                        &:hover {
                                            color: #333;
                                        }

                                        &.fork {
                                            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEUlEQVQIW2PctGnTf0YGIAAAFsMDGOHG7Z0AAAAASUVORK5CYII=) 0 0 repeat-y;
                                            padding-left: 12px;
                                        }
                                    }
                                }

                            }
                        }
                    }

                    .stats {
                        font-size: 0;

                        .numbers {
                            display: inline-block;
                            vertical-align: top;
                            margin-left: 25px;
                            margin-top: 44px;

                            .kills,
                            .shots-fired,
                            .shots-hit {
                                font-family: "oswald";
                                font-size: 0;
                                color: #ed003d;

                                .icon {
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-right: 6px;
                                }

                                .text {
                                    font-size: 15px;
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-right: 2px;
                                }

                                .label {
                                    color: #4f4f4f;
                                    font-size: 15px;
                                    display: inline-block;
                                    vertical-align: top;
                                }
                            }

                            .kills {
                                .icon {
                                    background: url('../img/robot-icons-sprite.png') 0 0 no-repeat;
                                    width: 33px;
                                    height: 13px;
                                }
                            }

                            .shots-fired {
                                margin-top: 9px;

                                .icon {
                                    background: url('../img/robot-icons-sprite.png') 0 -24px no-repeat;
                                    width: 33px;
                                    height: 22px;
                                }

                                .text, .label {
                                    padding-top: 6px;
                                }
                            }

                            .shots-hit {
                                margin-top: 9px;

                                .icon {
                                    background: url('../img/robot-icons-sprite.png') 0 -55px no-repeat;
                                    width: 33px;
                                    height: 20px;
                                }

                                .text, .label {
                                    padding-top: 3px;
                                }
                            }
                        }

                        .chart {
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 35px;
                            margin-left: 76px;
                        }

                        .average {
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 62px;
                            margin-left: 14px;
                            padding-right: 14px;
                            border-right: solid 1px #fff;

                            font-family: "oswald";

                            .number {
                                margin-bottom: 10px;
                                font-size: 42px;
                                color: #ed003d;
                            }

                            .label {
                                font-size: 15px;
                                color: #4f4f4f;
                            }
                        }

                        .overtime {
                            display: inline-block;
                            vertical-align: top;
                            padding-left: 14px;
                            height: 152px;
                            border-left: solid 1px #ebebeb;

                            .label {
                                margin-top: 10px;
                                font-family: "oswald";
                                font-size: 15px;
                                color: #4f4f4f;
                            }
                        }
                    }
                }
            }
        }

        .adsense-container {
            margin-bottom: 40px;

            .container {
                @include box-sizing(border-box);
                @include box-shadow(inset 0 0 5px rgba(0, 0, 0, .75));
                background-color: #1c1c1c;
                padding: 10px 0;

                .ad-body {
                    @include box-sizing(border-box);
                    position: relative;
                    border: solid 1px #0e0e0e;
                    width: 745px;
                    height: 92px;
                    margin: 0 auto;

                    .ad-text {
                        @include box-sizing(border-box);
                        position: absolute;
                        background: url('../img/ad.png') 0 0 no-repeat;
                        left: 0;
                        top: 0;

                        width: 17px;
                        height: 90px;

                        background-color: #202020;
                        border-right: solid 1px #0e0e0e;
                    }

                    .google-ad {
                        width: 728px;
                        height: 90px;
                        padding-left: 17px;
                    }
                }
            }
        }

        .add-robot {
            font-size: 0;
            margin-bottom: 60px;
            @include box-shadow(0 0 7px black);

            .left {
                vertical-align: top;
                display: inline-block;
                position: relative;
                width: 220px;
                height: 210px;
                background-color: #333;
                background: url('../img/my-dark-robot.png') 0 0 no-repeat;
            }

            .right {
                @include box-sizing(border-box);
                vertical-align: top;
                display: inline-block;
                width: 720px;
                height: 210px;
                background-color: #222;
                text-align: center;
                padding-top: 82px;
            }
        }
    }

    .latest-combats {
        background-color: #f3f3f3;

        .header {
            padding-top: 56px;
            overflow: hidden;

            .title {
                font-size: 0;

                .marker {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 4px;
                    width: 343px;
                    height: 4px;
                    background-color: #dfdfdf;
                }

                h1 {
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 18px;
                    padding: 0 17px 0 13px;

                    font-family: "oswald-bold";
                    font-size: 32px;
                    line-height: 15px;
                    color: #ed0027;

                    @include text-shadow(#f4f4f4 -1px 1px 0, #5D000F -3px 3px 0);
                }
            }

            .performance {
                margin-bottom: 46px;

                font-family: "oswald";
                font-size: 18px;
                line-height: 15px;
                text-align: center;
                color: #999;
            }
        }

        .combats {
            font-size: 0;
            padding-bottom: 105px;

            li {
                display: inline-block;
                position: relative;
                vertical-align: top;
                margin-left: 68px;

                &:first-child {
                    margin-left: 0;
                }

                .left, .right {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                }

                .divider {
                    position: absolute;
                    width: 40px;
                    height: 120px;
                    top: 0;
                    left: 116px;
                    background: url('../img/triangle.png') 0 0 no-repeat;
                    z-index: 9999;
                }

                .combat {
                    margin: 0 auto;
                    width: 268px;

                    .player {
                        width: 134px;
                        height: 120px;
                        overflow: hidden;
                        position: relative;

                        img {
                            margin-top: -7px;
                        }

                        .robot-circle {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -26px;
                            width: 52px;
                            height: 27px;
                            background: url('../img/semi-circle.png') 0 0 no-repeat;
                        }
                    }

                    .robot {
                        background: url('../img/latest-combats-robot.png') 0 0 no-repeat;
                        width: 38px;
                        height: 28px;
                        position: absolute;
                        top: 104px;
                        left: 50%;
                        margin-left: -19px;
                    }
                }

                .info {
                    margin-top: 25px;
                    text-align: center;
                    font-family: "oswald";
                    font-size: 14px;
                    color: #4f4f4f;
                    width: 134px;

                    .ranking {
                        margin-top: 5px;
                    }
                }
            }
        }

    }
}
