<% include header.ejs %>
<div class="break"></div>

<div class="create-robot container">
    <div class="header">
        <span class="header-icon"></span>
        <div class="header-title">
            <h1>let’s code a robot?</h1>
        </div>
        <div class="header-subtitle">just type and watch the preview to the right</div>
    </div>

    <form id="robo-code-form" method="POST" action="">
        <div class="row">
            <div class="span7">

                <input type="hidden" class="code" name="code">
                <% if (locals.update) {%>
                    <input type="hidden" name="_method" value="put">
                <%} %>
                <input name="title" id="title" type="text" require="required" placeholder="The name of your Robot!" <% if(locals.robotTitle){ %> value="<%= robotTitle %>" <% } %>>

                <label for="public">public</label>
                <input name="public" id="public" type="checkbox" <% if(public){ %> checked="checked" <% } %> <% if(locals.update) {%> disabled="disabled" <% } %>>

                <div class="editor"></div>
            </div>

            <div class="span5">
                <div class="board"></div>
            </div>
        </div>

        <button class="btn" id="submit-btn">SAVE ROBOT</button>
    </form>
</div>

<% include scripts.ejs %>
<script type="robot/script" id="default-code">
//FightCode can only understand your robot
//if its class is called Robot
var Robot = function(robot){
    
};

Robot.prototype.onIdle = function(ev) {
    var robot = ev.robot;
    robot.ahead(100);
    robot.rotateCannon(360);
    robot.back(100);
    robot.rotateCannon(360);
    
};

Robot.prototype.onScannedRobot = function(ev) {
    var robot = ev.robot;
    robot.fire();
    
};

</script>
<script>
    $(function() {
        var editor = $('.editor')[0];
        var board = $('.board'),
            submitButton = $('#submit-btn');

        var defaultCode = $('#default-code').html();
        roboCodeText = decodeURI("<%= locals.roboCode || '' %>"),
        code = null,
        unescapeHtml = function (text) {
            var temp = document.createElement("div");
            temp.innerHTML = text;
            var result = temp.childNodes[0].nodeValue;
            temp.removeChild(temp.firstChild);
            return result;
        };

        if (roboCodeText != "") {
            code = unescapeHtml(roboCodeText);
        } else {
            code = defaultCode;
        }

        console.log(code);
        var codeMirror = CodeMirror(editor, {
            value: code,
            mode:  "javascript",
            theme: 'ambiance',
            height: 500,
            tabSize: 2,
            lineNumbers: true
        });

        submitButton.bind('click', function(ev) {
            var form = $('robo-code-form');
            $('.code').val(codeMirror.getValue());
            form.submit();
        });
    });
</script>
<% include footer.ejs %>
