<% include header.ejs %>
<div class="create-robot">

    <div class="row-fluid">
        <div class="span12">
            <h1>Let's create a new Robot?</h1>
            <p>Just type and watch the live preview to the right.</p>
        </div>
    </div>
 
    <div class="row-fluid">
        <div class="span7">
            <div class="editor"></div>
        </div>
        <div class="span5">
            <div class="board">
            </div>
        </div>
    </div>

    <form method="POST">
        <div class="row-fluid">
            <div class="span5">
                <h2>How to call this awesomeness?</h2>
            </div>
            <div class="span7">
                <p><input type="text"></p>
            </div>
        </div>
    </form>
</div>

<% include scripts.ejs %>
<script>
    $(function() {
        var editor = $('.editor')[0];
        var board = $('.board');

        var defaultCode = [
            "//FightCode can only understand your robot",
            "//if its class is called robotClass",
            "var robotClass = function(){",
            "   ",
            "};",
            "",
            "robotClass.prototype.onIdle = function(ev) {",
            "   var robot = ev.robot;",
            "   robot.ahead(100);",
            "   robot.rotateCannon(360);",
            "   robot.back(100);",
            "   robot.rotateCannon(360);",
            "   ",
            "};",
            "",
            "robotClass.prototype.onScannedRobot = function(ev) {",
            "   var robot = ev.robot;",
            "   robot.fire();",
            "   ",
            "};"
        ];

        var codeMirror = CodeMirror(editor, {
            value: defaultCode.join('\n'),
            mode:  "javascript",
            theme: 'ambiance',
            height: 500,
            tabSize: 2,
            lineNumbers: true,
            onChange: function(editor, code) {
                            }
        });

        board.bind('click', function(ev) {
            board.empty();
            var container = $('<div></div>');
            board.append(container);

            var robotCode = codeMirror.getValue();
            var robotClass = new Function("window", "with(window){" + robotCode + "\nreturn robotClass;}")({});
            robot = new robotClass('a');

            var duckCode = [
                'var duck = function() {};',
                'duck.prototype.onIdle = function(ev) {',
                '   var robot = ev.robot;',
                '   robot.turn(90);',
                '   robot.ahead(50);',
                '   robot.back(50);',
                '};',
                'return duck;'
            ]
            var duck = new Function("window", "with(window){" + duckCode.join('') + "\nreturn robotClass;}")({});

            engine = new Engine(480, 480, 2000, robot, new duck());

            engine.robotsStatus[0].position = new Vector2(100, 100);
            engine.robotsStatus[1].position = new Vector2(250, 250);

            result = engine.fight();

            game = new Game(container, result, {
                msPerRound: 3
            });

            game.initialize();
        });
    });
</script>
<% include footer.ejs %>
