<% include header.ejs %>
<div class="fight-arena">

    <div class="loading">
        <div class="left-half">
            <div class="my-robot">
                <div class="robotData">
                    <img src="/img/bender.png" class="robot-image"></img>
                    <h2><span class="ranking">#20</span><span class="name">MANIAC</span></h2>
                    <div class="victories"><span class="number">12</span><span class="stat-label">VICTORIES</span></div>
                    <div class="defeats"><span class="number">8</span><span class="stat-label">DEFEATS</span></div>
                    <div class="draws"><span class="number">2</span><span class="stat-label">DRAWS</span></div>
                </div>
            </div>
        </div>
        <div class="vs">VS</div>
        <div class="right-half">
            <div class="opponent-robot">
                <div class="robotData">
                    <h2><span class="ranking">#39</span><span class="name">IRONMAIDEN</span></h2>
                    <div class="victories"><span class="number">20</span><span class="stat-label">VICTORIES</span></div>
                    <div class="defeats"><span class="number">18</span><span class="stat-label">DEFEATS</span></div>
                    <div class="draws"><span class="number">5</span><span class="stat-label">DRAWS</span></div>
                    <img src="/img/rosie.png" class="robot-image"></img>
                </div>
            </div>
        </div>
    </div>

    <div class="board">
    </div>
</div>

<% include scripts.ejs %>
<% include footer.ejs %>
