<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FightCode - <%- title %></title>
    <link rel="stylesheet" href="/output/fightcode.min.css" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
</head>
<body>
    <header>
        <% include menu.ejs %>
        <div class="context-bar">
            <div class="container">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">HOW TO PLAY</a></li>
                </ul>
                <div class="profile-container">
                    <% if (req.isAuthenticated()) { %>
                    <a class="profile profile-logged" href="/my-profile">
                        <img src="<%= req.user.thumb() %>" alt="<%= req.user.name %>" />
                        <span class="name"><%= req.user.name %></span>
                    </a>
                    <% } else { %>
                    <a class="profile profile-anonymous" href="/auth/github">
                        LOGIN WITH GITHUB
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
