<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FightCode - <%- title %></title>
    <link rel="stylesheet" href="/output/fightcode.min.css" type="text/css">
    <link rel="stylesheet" href="/css/theme/ambiance.css" type="text/css">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="#">fightcode</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Ranking</a></li>
                <li><a href="#">My Robots</a></li>
            </ul>
            <ul class="nav pull-right">
                <% if (req.loggedIn) { %>
                <li>
                    <a class="profile" href="#"><img src="<%= req.user.thumb() %>" /></a>
                </li>
                <li>
                    <a href="/logout">logout</a>
                </li>
                <% } else { %>
                <li><a href="/auth/github">login with github</a></li>
                <% } %>
            </ul>
        </div>
    </div>
