<div class="menu-container">
    <div class="menu">
        <span class="fighter">
            <a href="/my-profile" data-navbar-href="/profile/<%= req.user && req.user.login %>"><span class="icon"></span>MY PROFILE</a>
        </span>
        <span class="ranking">
            <a href="/robots/ranking"><span class="icon"></span>RANKING</a>
        </span>
        <span class="robot">
            <a href="/robots/create"><span class="icon"></span>CODE NEW ROBOT</a>
        </span>
        <span class="logout">
            <% if (req.isAuthenticated()) { %>
            <a href="/logout"><span class="icon"></span>LOGOUT</a>
            <% } else { %>
            <a href="/auth/github"><span class="icon"></span>LOGIN</a>
            <% } %>
        </span>
    </div>
    <div class="ribbon-container">
        <a class="ribbon" href="#">
            <span class="logo">FIGHTCODE</span>
            <span class="tip"></span>
        </a>
    </div>
</div>
