<% include header.ejs %>
<div class="ranking-container">

    <div class="row-fluid">
        <div class="span12">
            <h1>The Amazing Robot League</h1>
        </div>
    </div>

    <div class="row-fluid">
        <% for (var i=0; i<robotRank.length; i++) { %>
            <div class="span3">
                <h2><%= robotRank[i].robot.title || 'The nameless' %></h2>

                <table class="fight-table table table-bordered table-hover">
                    <tbody>
                        <% for (var x=0; x<robotRank[i].rank.length; x++) {%>
                            <% if (robotRank[i].robot.ownerLogin == req.user.login) {%>
                                <tr class="my-robot">
                            <%} else {%>
                                <tr class="my-robot">
                            <%}%>
                                <td><span class="ranking">#<%= robotRank[i].rank[x].row_number %></span><span class="name"><%= robotRank[i].rank[x].title %></span></td>
                                <td class="actions">
                                    <% if (robotRank[i].robot.ownerLogin != req.user.login) {%>
                                        <a href="#" data-robot-id="<%- i%>" class="fight">fight</a>
                                    <%}%>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>
    </div>

<% include scripts.ejs %>
<% include footer.ejs %>
