<% include header.ejs %>
<div class="show-user">
    <div class="container">
        <div class="user-info">
            <img alt="<%= user.name %>" src="<%= user.photo(152) %>" />
            <div class="info">
                <h2><%= user.name %></h2>
                <p>Rio de Janeiro, RJ - Brazil</p>
            </div>
            <div class="actions">
                <a class="btn" href="/robots/create">CODE NEW ROBOT</a>
            </div>
        </div>
    </div>

    <div class="robots-area">
        <div class="container">
            <div class="header">
                <div class="title">
                    <div class="marker"></div>
                    <h1>MY ROBOTS</h1>
                    <div class="marker"></div>
                </div>
                <div class="performance">ABSOLUTELY EVERYTHING ABOUT YOUR ARMY OF ROBOTS</div>
            </div>

            <ul class="robots">
                <li>
                    <div class="left">
                        <div class="ranking"># 256</div>
                    </div>
                    <div class="right">
                        <div class="main-info">
                            <div class="summary">
                                <div class="name">The Crazy desTroYer</div>
                                <div class="data">
                                    <span class="created">created 15/11/12</span>
                                    <span class="lines">5.094 code lines</span>
                                </div>
                            </div>
                            <div class="star-ranking"></div>
                        </div>
                        <div class="stats">
                            <div class="numbers">
                                <div class="kills">50 <span class="label">KILLS</span></div>
                                <div class="shots-fired">450 <span class="label">SHOTS</span></div>
                                <div class="shots-hit">200 <span class="label">HITS</span></div>
                            </div>
                            <div class="chart">
                                <input type="text"
                                       value="35.4"
                                       class="dial"
                                       data-readOnly="true"
                                       data-width="87"
                                       data-displayInput="false"
                                       data-bgColor="#7a0014"
                                       data-fgColor="#ed0027"
                                       data-angleOffset="-90"
                                />
                            </div>
                            <div class="average">
                                <div class="number">35.4%</div>
                                <div class="label">AVERAGE</div>
                            </div>
                            <div class="overtime">
                                <div class="chart"></div>
                                <div class="label">RANKING OVER TIME</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <h3>My Robots</h3>
            <ul>
                <li>
                    <a href="#">Robot1 </a>
                    <span>#72</span>
                    <p>10-15-4</p>
                    <a href="#">edit</a>
                    <a href="#">fork</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<% include scripts.ejs %>
<% include footer.ejs %>
