.cm-s-ambiance {
    border-radius: 5px;
    height: 500px;
}

.create-robot {
    padding: 60px 20px 0 20px;

    .editor {
        height: 500px;
    }

    .board {
        width: 480px;
        height: 480px;
        margin-top: 0;
    }
}

