.show-user {
    width: 100%;
    background: #f3f3f3;

    .user-info {
        height: 145px;
        position: relative;

        img {
            position: absolute;
            top: 24px;
            left: 0;
            width: 152px;
            height: 152px;
            border-radius: 152px;
            box-shadow: 0 0 5px rgba(#000, .25);
        }

        .info {
            margin-left: 175px;
            padding-top: 63px;
            float: left;

            h2 {
                font-weight: bold;
                font-size: 25px;
                color: #4f4f4f;
                margin-bottom: 10px;
            }

            p {
                display: inline-block;
                font-size: 16px;
                color: #4f4f4f;

                &:before {
                    display: inline-block;
                    content: '';
                    background: url('../img/marker.png') 0 0 no-repeat;
                    width: 13px;
                    height: 15px;
                    margin-right: 7px;
                    margin-bottom: -2px;
                }
            }
        }

        .actions {
            float: right;
            margin-top: 65px;
        }
    }
}
